@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: ; 
  --heading-color: ;
  --paragraph-color: ;
}
html {
  font-size: 16px;
}
li:hover {
  color: red;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 20px;
  margin: auto;
}
.hero {
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  background-image: url("/hero.avif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 90vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
}
.nav-dropdown-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 80px 70px 40px 70px;
  text-align: center;
  height: 100vh;
  gap: 20px;
  background-color: black;
  animation: open 0.7s ease-out;
}
@keyframes open {
  from {right: -40%;}
  to {right: 0%;}
}
/*
.nav-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 80px 70px 40px 70px;
  text-align: center;
  height: 100vh;
  gap: 20px;
  background-color: black;
}
.nav-dropdown.open {
  animation: open 0.7s ease-out;
}
@keyframes open {
  from {right: -40%;}
  to {right: 0%;}
}
.nav-dropdown.close {
  right: -40%;
  animation: close 0.7s ease-out;
}
@keyframes close {
  to {right: -40%;}
}
*/