@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: ;
  --secondary-color: ;
  --background-color: ;
  --heading-color: ;
  --paragraph-color: ;
}
li:hover {
  color: red;
}
.wrapper {
  @apply px-5 py-16 md:py-24 lg:py-32;
}
.cont {
  @apply w-full mx-auto px-4 md:px-5 lg:px-8 max-w-[1400px];
}
.hero {
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  background-image: url("/hero.avif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 90vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Black overlay with 60% opacity */
}
.nav-dropdown-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 80px 70px 40px 70px;
  text-align: center;
  height: 100vh;
  gap: 20px;
  background-color: black;
  animation: open 0.7s ease-out;
}
@keyframes open {
  from {
    right: -40%;
  }
  to {
    right: 0%;
  }
}
.hero-btn {
  @apply py-2 px-14 md:px-20 bg-white text-black text-xs font-semibold uppercase 
  hover:bg-black hover:text-white transition-colors duration-300 ease-out;
}
.heading {
  @apply text-4xl font-bold;
}